<a
  class="health-card health-card--solid-half health-card--shadow health-card--colour1"
  href="{{ url }}"
  style="
    background-color: {{ colour }};
    background-image: linear-gradient(to right, {{ colour }} 0, {{ colour }} 35%, #fff 35%, #fff 100%);
  "
>
  <h3 class="health-card__title au-display-md">{{ title }}</h3>
  <div class="health-card__text">
    <p>{{ summary }}</p>
  </div>
</a>
