<div
  class="
    featured-link
    featured-link--plain-large
    featured-link--plain-large-{{ theme }}"

  style="background-color: {{ colour }};"
>
  <a
    class="
      featured-link__link
      featured-link__link--plain-large
      featured-link__link--plain-large-{{ theme }}
      au-display-md"
    href="{{ url }}"
    title="{{ title }}"
  >
    {{ title }}
  </a>
	  <p
      class="
        featured-link__summary
        featured-link__summary--plain-large
        featured-link__summary--plain-large-{{ theme }}"
    >
      {{ summary }}
    </p>
</div>
