{% extends "@health/content/node.html.twig"%}

{% block content %}
  <div class="col-sm-3 col-xs-4">
    <div class="image--link image--border">
      <a href="{{ url }}">
        {{ image }}
      </a>
    </div>
  </div>
  <div class="col-sm-9 col-xs-8">
    <h3>
      <a href="{{ url }}">{{ title }}</a>
    </h3>
    <p>{{ content.field_h_summary }}</p>
  </div>
{% endblock %}
